{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Focus on work</title>
  <link rel="stylesheet" href="{% static 'Pomodoro_App/styles.css' %}" />
</head>

<body>

  <section id="navbar-section">
    <!-- Image and text -->
    <nav id="navbar">
      <div class="div-brand">
        <a class="navbar-brand" href="{% url 'Pomodoro:timer'%}">
          <img src="{% static 'Pomodoro_App/images/bomb.svg'%}" width="40" height="40" class="company-icon" alt="">
        </a>
        <span id="brand-name">Based</span>
      </div>
      <div class="navbar-links">
        <a class="pomodoro-timer" href="{% url 'Pomodoro:timer'%}">Timer</a>
        <a class="timer-settings" href="{% url 'Pomodoro:settings'%}">Settings</a>
        <a class="wall-clock" href="{% url 'Pomodoro:clock'%}">Clock</a>
        <a class="wiki-learn" href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank">
          <img src="{% static 'Pomodoro_App/images/up-right-arrow.png' %}" width="15" height="15"
            style="margin-right: 0.3rem;" alt="arrow to link">Learn</a>
      </div>
    </nav>
  </section>

  <main class="app">
    <div class="center">
      <div class="button-group" id="js-mode-buttons">
        <a data-mode="Pomodoro" class="button active pomodoro-button" type="button">
          Pomodoro
        </a>
        <a data-mode="shortBreak" class="button short-break-button" type="button">
          Short Break
        </a>
        <a data-mode="longBreak" class="button long-break-button" type="button">
          Long Break
        </a>
      </div>
      <div class="clock" id="js-clock">
        <span id="js-minutes">25</span>
        <span class="separator">:</span>
        <span id="js-seconds">00</span>
      </div>

      <!-- progress bar -->
      <div id="progress-bar">
        <progress id="js-progress-bar" value="0" max="100"></progress>
      </div>

      <div class="submit">
        <button class="submit-button" data-action="start" id="js-submit">
          Wind Up
        </button>
      </div>
    </div>


    <!-- task list -->
    <div id="tasks-model">
      <form method="post" action="{% url 'Pomodoro:timer'%}">
        {% csrf_token %}
        <h2 class="task-heading">Tasks</h2>
        {% for field in task_form %}
        {% if field.name == "task_text" %}
        {{ field}}
        {% endif %}
        {% endfor %}
        <button type="submit" class="add-task">Add</button>
      </form>
      <br>
      <br>
      <div class="task-list">
        {% for task in latest_task_list %}
        <!-- so, request.POST is getting the "value" from input tag not "name" -->
        <input type="checkbox" id="task-{{forloop.counter }}" name="task-list" data-taskid="{{task.id}}">
        <label for="task-{{forloop.counter }}"><strong>{{ task.task_text }}</strong></label>
        <a id="{{task.id}}" href="{% url 'Pomodoro:task-deletion' task.id %}" type="button">Delete</a>
        <br>
        {% endfor %}
      </div>
    </div>


    <div class="hidden">
      <audio id="pomodoro-audio" src="{{ pomodoro_sound }}"></audio>
      <audio id="break-audio" src="{{ break_sound }}"></audio>
    </div>
  </main>
  <script>
    // please put '{{ serialized_data| safe }}' this in single quotes not double quotes inside
    // the json.parse to avoid any errors.  
    var dataFromDatabase = JSON.parse('{{ serialized_data| safe }}');
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="{% static 'Pomodoro_App/index.js'%}"></script>
</body>

</html>